.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  //grid-gap: 10px;
}

.grid_container > div {
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
}

.links h1 {
  //background-color: var(--primary-green);
  //color: white;
  font-weight: 800;
  color: var(--primary-green);
  padding-top: 10px;
  padding-bottom: 10px;
  //border-radius: 10px;
}
.links_row {
  padding: 10px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid black;
}

.links_even {
  background-color: #33de78;
  color: white;
}

.links_even:hover,
.links_odd:hover {
  box-shadow: 0 0 10px #2b2b2a;
}

.links_even a {
  color: white;
}
.links_odd {
  background-color: #e1e6e1;
  color: var(--primary-green);
}
.links_odd a {
  color: var(--primary-green);
}
.grid_container a {
  text-decoration: none;
}

.search_bar {
  margin: 10px 0;
}

.search_bar input {
  width: 100%;
  padding: 5px 10px;
}

.manage_link {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.manage_link_item {
  margin: 0 5px;
}

.delete_item {
  margin-left: 10px;
  color: red;
  font-size: large;
}

.edit_item {
  color: gray;
  font-size: large;
}

.delete_item:hover,
.edit_item:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .grid_container > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
