.link {
  text-decoration: none;
  padding: 0 10px;
  color: gray;
}

.link:hover {
  color: var(--primary-green);
}

.active_link {
  color: var(--primary-green);
  font-weight: 500;
}

.auth_button {
  background-color: var(--primary-green);
  color: white;
  border: 1px solid var(--primary-green);
  max-width: 150px;
  padding: 2px 25px;
}

.auth_button:hover {
  background-color: green;
  border: 1px solid var(--primary-green);
}
