.link {
  text-decoration: none;
  padding: 0;
  color: gray;
}

.link:hover {
  color: var(--primary-green);
}

.active_link {
  color: var(--primary-green);
  font-weight: 500;
}

.auth_button {
  background-color: var(--primary-green);
  color: white;
  border: 1px solid var(--primary-green);
  max-width: 150px;
  padding: 2px 25px;
}

.auth_button:hover {
  background-color: green;
  border: 1px solid var(--primary-green);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-green;);
  margin-right: 10px;
  margin-left: 10px;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-green);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
